#root{
  width: 100%;
  height: 100%;
  display: flex;
}

.flex{
  width: 100%;
  display: flex;
  align-items: center;
}

.App{
  flex-direction: column;
  margin: 1rem;
}

.navbar{
  justify-content: space-between;
}

.fretboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.fret{
  position: relative;
  border: 0.01px solid #385238;
  width: 100%;
  height: 40px;
  cursor: pointer;
  justify-content: center;
}

.circle{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #69c894;
    color: black;
    font-size: 0.7rem;
    justify-content: center;
    z-index: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.forms{
  gap: 15px;
  justify-content: end;
  width: fit-content;
}

.note{
    width: 100%;
    height: 5px;
    padding-right: 1px;
    background: white;
    position: absolute;
}

.string-name{
  width: 15px;
}

@media screen and (max-width: 600px) {
  .circle{
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
  }
}